<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Start View Resort</title>
            <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
            <script type="text/javascript" src="./js/jquery.min.js"></script>
            <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <section id="home-news">
                <div class="container">
                    <div class="row">
                        <div class="block">
                            <div class="col-sm-4 col-xs-12 item-news">
                                <div class="row">
                                <ul class="nav nav-tabs">
                                    <li class="col-md-4 col-sm-6 col-xs-6 active"><a href="#">Home</a></li>
                                    <li class="col-md-4 col-sm-6 col-xs-6 "><a href="#">Menu 1</a></li>
                                    <li class="col-md-4 col-sm-6 col-xs-6 "><a href="#">Menu 2</a></li>
                                    <li class="col-md-4 col-sm-6 col-xs-6 "><a href="#">Menu 3</a></li>
                                </ul>
                                </div>
                                <br>
                                    <p><strong>Note:</strong> 
                                        This example shows how to create a basic navigation tab. It is not toggleable/dynamic yet (you can't click on the links to display different content)- see the last example in the Bootstrap Tabs and Pills Tutorial to find out how this can be done.</p>
                            </div>
                            <div class="col-sm-8 col-xs-12 item-news">
                                <h3>Liên lạc và Đặt chỗ</h3>
                                <p>Liên lạc với các chủ nhà tiềm năng, xác nhận ngày du lịch và đặt phòng an toàn.</p>
                                <div class="img-item">
                                    <img src="http://hotel.git-dev.new.nhom.aaa/public/site/images/img-news2.png" class="img-responsive wow bounce" data-wow-duration = "600ms" data-wow-delay = "1200ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>